[submodule "riscv-isa-sim_gabpgomes"]
	path = riscv-isa-sim_gabpgomes
	url = https://github.com/GabPGomes/riscv-isa-sim_gabpgomes
[submodule "example/tinyriscv"]
	path = example/tinyriscv
	url = https://github.com/liangkangnan/tinyriscv
